<p id="notice"><%= notice %></p>

<h1>Deputados</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Foto</th>
      <th>Nome</th>
      <th>Partido</th>
      <th>Coerência</th>
      <th>Propostas</th>
      <th>Discursos</th>
      <th>Telefone</th>
      <th>UF</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @congressmen.each do |congressman| %>
      <tr>
        <td><%= congressman.id %></td>
        <td><%= image_tag(congressman.photo, :border => 0, :alt => '', :title => '', :size => "50x50") %></td>
        <td><%= congressman.name %></td>
        <td><%= congressman.political_party.name %></td>
        <td><%= congressman.coherence %></td>
        <td><%= congressman.proposals.count %></td>
        <td><%= congressman.speeches.count %></td>
        <td><%= congressman.phone %></td>
        <td><%= congressman.federation_unity %></td>
        <td><%= congressman.email %></td>
        <td><%= link_to 'Show', congressman %></td>
        <td><%= link_to 'Edit', edit_congressman_path(congressman) %></td>
        <td><%= link_to 'Destroy', congressman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Congressman', new_congressman_path %>
