<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @political_party.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @political_party.description %>
</p>

<%= link_to 'Edit', edit_political_party_path(@political_party) %> |
<%= link_to 'Back', political_parties_path %>
