<p id="notice"><%= notice %></p>

<p>
  <strong>Key word:</strong>
  <%= @proposal.key_word %>
</p>

<p>
  <strong>Count:</strong>
  <%= @proposal.count %>
</p>

<p>
  <strong>Congressman:</strong>
  <%= @proposal.congressman %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
